
CREATE TABLE [dbo].[Articulo](
	[idArticulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[CapacidadArticulo] [int] NULL,
	[codBarras] [varchar](255) NULL,
	[descripcion] [varchar](255) NULL,
	[presentacion] [varchar](255) NOT NULL,
	[unidadMedida] [varchar](255) NOT NULL,
	[cantCompraFija] [int] NOT NULL,
	[precioVentaUnitario] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticulosDeposito]    Script Date: 6/4/2018 10:15:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosDeposito](
	[idArticuloDeposito] [int] IDENTITY(1,1) NOT NULL,
	[idArticulo] [int] NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[idLote] [int] NOT NULL,
	[idUbicacion] [varchar](255) NOT NULL,
	[idPedido] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idArticuloDeposito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 6/4/2018 10:15:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[dni] [int] NOT NULL,
	[cuit] [int] NULL,
	[nombre] [varchar](255) NOT NULL,
	[razonSocial] [varchar](255) NULL,
	[limiteCredito] [float] NOT NULL,
	[cuentaCorriente] [int] NULL,
	[conEspPago] [varchar](255) NULL,
	[notasAdv] [varchar](255) NULL,
	[calleDom] [varchar](255) NULL,
	[nroDom] [int] NULL,
	[localidadDom] [varchar](255) NULL,
	[cpDom] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuentaCorriente]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentaCorriente](
	[idCuentaCorriente] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[especie] [varchar](255) NOT NULL,
	[saldo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCuentaCorriente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[nroFactura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[estado] [varchar](255) NULL,
	[idPedido] [int] NOT NULL,
	[dniCliente] [int] NOT NULL,
	[totalFact] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemOrdenDePedido]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemOrdenDePedido](
	[idItemOp] [int] IDENTITY(1,1) NOT NULL,
	[idOp] [int] NOT NULL,
	[idArticulo] [int] NOT NULL,
	[cant] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemOp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPedido]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPedido](
	[idItemPedido] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NULL,
	[idArticulo] [int] NOT NULL,
	[cant] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemRemito]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemRemito](
	[idItemRemito] [int] IDENTITY(1,1) NOT NULL,
	[idRemito] [int] NOT NULL,
	[idArticulo] [int] NOT NULL,
	[cant] [int] NOT NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemRemito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsFactura]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsFactura](
	[idItemFactura] [int] IDENTITY(1,1) NOT NULL,
	[idFactura] [int] NOT NULL,
	[idArticulo] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsOrdenDeCompra]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsOrdenDeCompra](
	[idItemOC] [int] IDENTITY(1,1) NOT NULL,
	[idOC] [int] NOT NULL,
	[idArticulo] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idItemOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[idLote] [int] IDENTITY(1,1),
	[fechaVenc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoArticulo]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoArticulo](
	[idArticulo] [int] NOT NULL,
	[idMov] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoCtaCte]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoCtaCte](
	[nroMov] [int] IDENTITY(1,1),
	[idCuentaCorriente] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[monto] [float] NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoStock]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoStock](
	[idMov] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[tipoMovimiento] [varchar](10) NULL,
	[idArticulo] [int] NULL,
	[destino] [varchar](255) NULL,
	[encargado] [varchar](255) NULL,
	[autorizante] [varchar](255) NULL,
	[descripicion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMov] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenDeCompra]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDeCompra](
	[idOC] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[estado] [varchar](255) NULL,
	[prov] [int] NOT NULL,
	[idOp] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenDePedido]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenDePedido](
	[idOp] [int] IDENTITY(1,1) NOT NULL,
	[nroPedido] [int] NOT NULL,
	[estado] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idOp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[nroPedido] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[fechaGeneracion] [datetime] NULL,
	[fechaDespacho] [datetime] NULL,
	[fechaEntregaEsperada] [datetime] NULL,
	[fechaEntrega] [datetime] NULL,
	[precioTotalBruto] [float] NULL,
	[precioTotalfinal] [float] NULL,
	[formaDePago] [varchar](255) NULL,
	[calleDireccEnvio] [varchar](255) NULL,
	[nroDireccEnvio] [int] NULL,
	[localidadDireccEnvio] [varchar](255) NULL,
	[cpDireccEnvio] [int] NULL,
	[idCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProv] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[cuit] [int] NOT NULL,
	[descripcion] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[telefonoContacto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedoresArticulos]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedoresArticulos](
	[idProv] [int] NOT NULL,
	[idArticulo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remito]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remito](
	[nroRemito] [int] IDENTITY(1,1) NOT NULL,
	[fechaRemito] [datetime] NULL,
	[idCliente] [int] NOT NULL,
	[idPedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nroRemito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 6/4/2018 10:15:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[idUbicacion] [varchar](255) NOT NULL,
	[estado] [varchar](255) NULL,
	[capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArticulosDeposito]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosDeposito_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ArticulosDeposito] CHECK CONSTRAINT [FK_ArticulosDeposito_Articulo]
GO
ALTER TABLE [dbo].[ArticulosDeposito]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosDeposito_Lote] FOREIGN KEY([idLote])
REFERENCES [dbo].[Lote] ([idLote])
GO
ALTER TABLE [dbo].[ArticulosDeposito] CHECK CONSTRAINT [FK_ArticulosDeposito_Lote]
GO
ALTER TABLE [dbo].[ArticulosDeposito]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosDeposito_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([nroPedido])
GO
ALTER TABLE [dbo].[ArticulosDeposito] CHECK CONSTRAINT [FK_ArticulosDeposito_Pedido]
GO
ALTER TABLE [dbo].[ArticulosDeposito]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosDeposito_Ubicacion] FOREIGN KEY([idUbicacion])
REFERENCES [dbo].[Ubicacion] ([idUbicacion])
GO
ALTER TABLE [dbo].[ArticulosDeposito] CHECK CONSTRAINT [FK_ArticulosDeposito_Ubicacion]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_CtaCte] FOREIGN KEY([cuentaCorriente])
REFERENCES [dbo].[CuentaCorriente] ([idCuentaCorriente])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_CtaCte]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Cliente] FOREIGN KEY([dniCliente])
REFERENCES [dbo].[Cliente] ([dni])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Fact_Cliente]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Fact_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([nroPedido])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Fact_Pedido]
GO
ALTER TABLE [dbo].[ItemOrdenDePedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemOp_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ItemOrdenDePedido] CHECK CONSTRAINT [FK_ItemOp_Articulo]
GO
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedido_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ItemPedido] CHECK CONSTRAINT [FK_ItemPedido_Articulo]
GO
ALTER TABLE [dbo].[ItemPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedido_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([nroPedido])
GO
ALTER TABLE [dbo].[ItemPedido] CHECK CONSTRAINT [FK_ItemPedido_Pedido]
GO
ALTER TABLE [dbo].[ItemRemito]  WITH CHECK ADD  CONSTRAINT [FK_ItemRemito_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ItemRemito] CHECK CONSTRAINT [FK_ItemRemito_Articulo]
GO
ALTER TABLE [dbo].[ItemsFactura]  WITH CHECK ADD  CONSTRAINT [FK_ItemsFact_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ItemsFactura] CHECK CONSTRAINT [FK_ItemsFact_Articulo]
GO
ALTER TABLE [dbo].[ItemsFactura]  WITH CHECK ADD  CONSTRAINT [FK_ItemsFact_Factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([nroFactura])
GO
ALTER TABLE [dbo].[ItemsFactura] CHECK CONSTRAINT [FK_ItemsFact_Factura]
GO
ALTER TABLE [dbo].[ItemsOrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_ItemsOC] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ItemsOrdenDeCompra] CHECK CONSTRAINT [FK_ItemsOC]
GO
ALTER TABLE [dbo].[ItemsOrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_ItemsOC_OC] FOREIGN KEY([idOC])
REFERENCES [dbo].[OrdenDeCompra] ([idOC])
GO
ALTER TABLE [dbo].[ItemsOrdenDeCompra] CHECK CONSTRAINT [FK_ItemsOC_OC]
GO
ALTER TABLE [dbo].[MovimientoStock]  WITH CHECK ADD  CONSTRAINT [FK_Movi_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[MovimientoStock] CHECK CONSTRAINT [FK_Movi_Articulo]
GO
ALTER TABLE [dbo].[OrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_OC_OP] FOREIGN KEY([idOp])
REFERENCES [dbo].[OrdenDePedido] ([idOp])
GO
ALTER TABLE [dbo].[OrdenDeCompra] CHECK CONSTRAINT [FK_OC_OP]
GO
ALTER TABLE [dbo].[OrdenDeCompra]  WITH CHECK ADD  CONSTRAINT [FK_OC_Proveedor] FOREIGN KEY([prov])
REFERENCES [dbo].[Proveedor] ([idProv])
GO
ALTER TABLE [dbo].[OrdenDeCompra] CHECK CONSTRAINT [FK_OC_Proveedor]
GO
ALTER TABLE [dbo].[OrdenDePedido]  WITH CHECK ADD  CONSTRAINT [FK_OrdenDePedido_Pedido] FOREIGN KEY([nroPedido])
REFERENCES [dbo].[Pedido] ([nroPedido])
GO
ALTER TABLE [dbo].[OrdenDePedido] CHECK CONSTRAINT [FK_OrdenDePedido_Pedido]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([dni])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Cliente]
GO
ALTER TABLE [dbo].[ProveedoresArticulos]  WITH CHECK ADD  CONSTRAINT [FK_ProveedoresArticulo_Articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[ProveedoresArticulos] CHECK CONSTRAINT [FK_ProveedoresArticulo_Articulo]
GO
ALTER TABLE [dbo].[ProveedoresArticulos]  WITH CHECK ADD  CONSTRAINT [FK_ProveedoresArticulo_Proveedor] FOREIGN KEY([idProv])
REFERENCES [dbo].[Proveedor] ([idProv])
GO
ALTER TABLE [dbo].[ProveedoresArticulos] CHECK CONSTRAINT [FK_ProveedoresArticulo_Proveedor]
GO
USE [master]
GO
